<div class="add_user-wrap">
<form method="POST" id="editForm" action="/edit/{{company._id}}?_method=PUT">
	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="edit-companyName">Nombre de la compañía:</label>
				<input type="text" id="edit-companyName" name="companyName" class="form-control"
					value={{company.companyName}} required>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="edit-rnc">RNC:</label>
				<input type="number" id="edit-rnc" name="rnc" class="form-control" value="{{company.rnc}}" required>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="edit-itbs">ITBS: {{this.itbs}}</label>
				<input type="checkbox" id="edit-itbs" name="itbs" value="true" {{#if company.itbs}}checked{{/if}}>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="edit-f606">¿Entregó 606?: {{this.f606}}</label>
				<input type="checkbox" id="edit-f606" name="f606" value="true" {{#if company.f606}}checked{{/if}}>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="edit-f607">¿Entregó 607?:</label>
				<input type="checkbox" id="edit-f607" name="f607" value="true" {{#if company.f607}}checked{{/if}}>
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label for="edit-dateClose">Fecha de cierre:</label>
			<input type="date" id="edit-dateClose" name="dateClose" class="form-control" value="{{company.dateClose}}" required>
		</div>
	</div>
</div>
	<div>
		<a href="/dashboard" class="btn btn-warning btn-modify">Atras</a>
		<button type="submit" class="btn btn-danger btn-modify">Actualizar</button>
	</div>
</form>
</div>

<script>
	// Data de atlas
async function fetchCompanieData() {
  try {
    const response = await fetch('/api/companies');
    const companyData = await response.json();

    console.log(companyData);

  } catch (error) {
    console.error('Error al obtener los datos de las compañías:', error);
  }
}
</script>